.matchlist {
  position: fixed;
  color: #3339;
  background-color: #fff;
  margin: 1px 0 0 0;
  padding: 3px 0;
  font-size: 12px;
  z-index: 15;
}
.matchlist div {
  padding: 0 10px;
}
.matchlist div:hover {
  background-color: #ddd;
  cursor: pointer;
}
.matchlist div.highlighted {
  background-color: #ccc;
  cursor: pointer;
}
.matchlist .id {
  color: #3334;
}
.helptop {
  position: absolute;
  bottom: 120%;
  padding: 0 5px;
  color: #666;
  background-color: #ff0c;
  font-size: 12px;
}

/* NC Node */
.nodelabel > .matchlist {
  max-width: 300px;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
}
.nodelabel > .matchlist div:hover {
  background-color: transparent;
  cursor: default;
}
