/* Auto-compiled and included by brunch */

.warning {
  padding: 5px 0;
}

/* Applies to both NodeSelector, EdgeEditor, NodeTable, and EdgeTable */
.nodeEntry img,
.table img {
  max-width: 250px;
  max-height: 200px;
}

.nodeEntry textarea[readonly] {
  background-color: #ffffff33;
}
.nodeEntry textarea[readonly].comments {
  background-color: #ffff0033;
}
.nodeEntry textarea.comments {
  width: 100%;
  background-color: #ffff66;
}

/* Applies to NodeSelector and EdgeEditor, overrides bootstrap */
.form-control:focus:invalid,
.formcontrol:focus:out-of-range,
input:invalid,
input:out-of-range {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
